<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>toAdd</title>
</head>
<body>
<form action="http://localhost:2333/add" method="post" enctype="application/x-www-form-urlencoded">
    <table>
        <tbody>
        <tr>
            <th>title</th><th><input type="text" name="title"/></th>
        </tr>
        <tr>
            <th>url</th><th><input type="text" name="url"/></th>
        </tr>
        <tr>
            <th>date</th><th><input type="date" name="date"/></th>
        </tr>
        <tr>
            <th>desc</th><th><input type="text" name="desc"/></th>
        </tr>
        <tr>
            <th colspan="4" align="center"><input type="submit"/></th>
        </tr>
        </tbody>
    </table>
</form>

</body>
</html>
